@model List<FYP.Models.Ads>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Main_page.cshtml";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
        <li data-target="#myCarousel" data-slide-to="3" class=""></li>
        <li data-target="#myCarousel" data-slide-to="4" class=""></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                <div class="carousel-caption">
                    <h3>The Biggest <span>Buying and Selling Platform</span></h3>
                    <p>Hurry Up!</p>
                    <a class="hvr-outline-out button2" href="#">Shop Now </a>
                </div>
            </div>
        </div>
        <div class="item item2">
            <div class="container">
                <div class="carousel-caption">
                    <h3>New <span>Products</span></h3>
                    <p>New Arrivals On Products</p>
                    <a class="hvr-outline-out button2" href="#">Shop Now </a>
                </div>
            </div>
        </div>
        <div class="item item3">
            <div class="container">
                <div class="carousel-caption">
                    <h3>The Biggest <span>Buying and Selling Platform</span></h3>
                    <p>Hurry Up!</p>
                    <a class="hvr-outline-out button2" href="#">Shop Now </a>
                </div>
            </div>
        </div>
        <div class="item item4">
            <div class="container">
                <div class="carousel-caption">
                    <h3>New <span>Products</span></h3>
                    <p>New Arrivals On Products</p>
                    <a class="hvr-outline-out button2" href="#">Shop Now </a>
                </div>
            </div>
        </div>
        <div class="item item5">
            <div class="container">
                <div class="carousel-caption">
                    <h3>The Biggest <span>Buying and Selling Platform</span></h3>
                    <p>Hurry Up!</p>
                    <a class="hvr-outline-out button2" href="#">Shop Now </a>
                </div>
            </div>
        </div>
    </div>
    @*<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>*@
    <!-- The Modal -->
</div>


<div class="new_arrivals_agile_w3ls_info">
    <div class="container">
        <h3 class="wthree_text_info">Fresh <span>recommendations</span></h3>
        <div id="horizontalTab">
            <ul class="resp-tabs-list">
                <li> New Ads</li>
                @*<li> Women's</li>
                    <li> Bags</li>
                    <li> Footwear</li>*@
            </ul>
            <div class="resp-tabs-container">
                <!--/tab_one-->
                <div class="tab1">
                    @foreach (var s in Model)
                    {
                        <div class="col-md-3 product-men">
                            <div class="men-pro-item simpleCart_shelfItem">
                                <div class="men-thumb-item">

                                    <img src="@Url.Content(@s.images)" alt="" class="pro-image-front">
                                    <img src="@Url.Content(@s.images)" alt="" class="pro-image-back">
                                    <div class="men-cart-pro">
                                        <div class="inner-men-cart-pro">
                                            <a href="@Url.Action("Index","N_ID_Per_User", new { id=@s.p_id })" class="link-product-add-cart">Quick View</a>
                                        </div>
                                    </div>
                                    <span class="product-new-top">New</span>

                                </div>
                                <div class="item-info-product ">
                                    <h4><a href="single.html">Rs @s.Price</a></h4>
                                    <div class="info-product-price">
                                        <span class="item_price">@s.P_name</span>
                                    </div>

                                    @if (s.sold_product == 'Y'.ToString())
                                    {
                                        <div class="main_sold">
                                            <div style="color:#d93025">
                                                <h6>
                                                    <b>This Product is Sold.</b>
                                                </h6>

                                            </div>
                                        </div>

                                    }


                                </div>
                            </div>
                        </div>
                    }

                    <div class="clearfix"></div>
                </div>
                <!--//tab_one-->

            </div>
        </div>
    </div>
</div>
@*<script src="~/Content/Main_Menu/js/jquery-2.1.4.min.js"></script>
    <script>
        $(document).ready(function () {

            $('.chk-sold-prodt').each(function () {

                var gt_user = $(this).text();
                alert(gt_user);
                //if (gt_user == 'Y') {
                //    $('.main_sold').show();
                //}
                //else {
                //    $('.main_sold').hide();
                //}

            })
        });
    </script>*@